extends layout

block content
  .grid
    .item.four(style="background-image:url(/processing-experiments/#{directory}/#{image})")
    .item.one
    .item.seven
      h1= directory
      a.button(href="/zip/#{directory}") Download Zip
      pre
        code(class="processing")!= codez
